@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap') 

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: rgb(182,42,15);
    background: linear-gradient(180deg, rgba(182,42,15,1) 0%, rgba(248,143,62,1) 100%);
}

.wildWestFont {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
}

.shootButton {
    border: 5px solid #535353;
    border-radius: 10px;
    background-color: #aaa8a4;
    color: #000000;
}

.vertical-center {
    position: relative;
    top: 400px;
    left: 0px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}