<!-- model Models.PartyModel mais marche po-->
 
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<div class="container-fluid vertical-center">
    <div class="row">
        <div class="text-center">
            <h1 class="wildWestFont">Guns of the Old West</h1>
            <button class="shootButton">XX more bullets</button>
        </div>
    </div>
</div>

